bin/
obj/
.vs/
*.user
*.suo
TestResults/
*.log
publish/
artifacts/
*.nupkg
*.snupkg
.env
secrets.json
appsettings.Docker.json
appsettings.Development.json
appsettings.Testing.json
appsettings.json
!appsettings.Template.json